.App {
  text-align: center;
}

body { /* For the Background, remember height needs to be included for gradient backgrounds */
  background: linear-gradient(90deg, #553939, #c48532);
  height: 100vh;
}

.greetingName {
  display: grid;
  place-items: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
  color:  rgb(255, 255, 255);
  height: 100px;
  width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;

  position: absolute;
  top: 350px;
  left: 400px;
}

.aboutMe {
  display: grid;
  place-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 150px;
  width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  position: absolute;
  top: 470px;
  left: 400px;
}

.myPhoto {
  display: grid;
  place-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 400px;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  position: absolute;
  top: 300px;
  right: 300px;
}

.navigationBar {
  display: grid;
  place-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 80px;
  width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  position: absolute;
  left: 35%;
  top: 100px;
}

.contactInfo {
  display: grid;
  place-items: center;
  border-radius: 30px;
  border: 2px solid rgb(196, 196, 196);
  background-color: rgba(255, 255, 255, 0);
  color:  rgb(255, 255, 255);
  height: 80px;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  position: absolute;
  left: 700px;
  top: 640px;
}

.logo {
  display: grid;
  place-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 80px;
  width: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  position: absolute;
  left: 400px;
  top: 100px;
}

.linkedIn {
  display: grid;
  place-items: center;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  position: absolute;
  right: 300px;
  top: 115px;
}

.GitHub {
  display: grid;
  place-items: center;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  position: absolute;
  right: 370px;
  top: 115px;
}


