.App {
  text-align: center;
  
  min-width: 100%; 
  min-height: 100%;
  overflow: auto; 
}

body { 
  background: linear-gradient(to right, rgb(255, 255, 255) 58%, rgba(0, 0, 255, 0.479) 42%), url('/public/geometricBackground.jpg');

  width: 100%;
  height: 100%;

  
}

.geometricBackground {
  background-image: url('/public/geometricBackground.jpg');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;
  opacity: 0.5;

  height: 100vh;
  width: 58%;
}

.title {
  display: grid;
  justify-content: center; 
  align-items: center;      
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
  color:  rgb(0, 0, 0);
  height: 100px;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;

  position: absolute;
  top: 37%;
  left: 15%;
}

.mainContent {
  display: flex;

  justify-content: center; 
  align-items: top;   
  border-radius: 30px;
  color:  rgb(0, 0, 0);
  height: 150px;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;

  position: absolute;
  top: 47%;
  left: 15%;
}

.mainImage {
  display: flex;

  place-items: center;
  border-radius: 30px;
  color:  rgb(0, 0, 0);
  width: 25%;
  aspect-ratio: 4 / 3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  background-image: url('/public/coder.png');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;

  position: absolute;
  top: 35%;
  right: 12%;
  transform: translate(0%, 0%);
}

.navigationBar {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 20%);
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 80px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1vw;

  position: absolute;
  left: 25%;
  top: 10%;
}

.navigationItem {
  cursor: pointer;
  padding: 20px;
  border-radius: 30px;

  transition: background-color 0.3s ease,  color 0.2s ease;
}

.navigationItem:hover {
  background-color: rgba(84, 54, 253, 0.527);
  color: white;
}

.active {
  cursor: pointer;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(84, 54, 253, 0.527);
  color: white;
}

.openContactInfo {
  display: grid;
  place-items: center;
  border-radius: 50px;
  border: 2px solid rgb(196, 196, 196);
  background-color: rgba(255, 255, 255, 0);
  color:  rgb(0, 0, 0);
  height: 10%;
  width: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  position: absolute;
  left: 27.5%;
  top: 70%;
}

.openContactInfo:hover::before {
  content: attr(hover-text);
  position: absolute;
  font-size: 12px;
  left: 0;
  right: 0;
  top: 90%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.openContactInfo:hover {
  background-color: rgba(84, 54, 253, 0.527);
  color: rgb(255, 255, 255);
}

.logo {
  display: grid;
  place-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 70px;
  width: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  background-image: url('/public/logo.png');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;

  position: absolute;
  left: 17%;
  top: 11%;
}

.linkedIn a {
  display: grid;
  place-items: center;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  background-image: url('/public/LinkedIn\ Logo.jpg');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;
  cursor: pointer;

  position: absolute;
  right: 15%;
  top: 12%;
}

.GitHub a {
  display: grid;
  place-items: center;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  background-image: url('/public/GitHub\ Logo.png');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;
  cursor: pointer;

  position: absolute;
  right: 19%;
  top: 12%;
}

.projectOneIcon {
  display: grid;
  place-items: center;
  border-radius: 50px;
  border: 2px solid rgb(196, 196, 196);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  position: absolute;
  right: 52%;
  top: 90px;
}

.projectOneIcon:hover {
  background-color: rgba(84, 54, 253, 0.527);
  color: white;
}

.projectTwoIcon {
  display: grid;
  place-items: center;
  border-radius: 50px;
  border: 2px solid rgb(196, 196, 196);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  position: absolute;
  right: 28%;
  top: 90px;
}

.projectTwoIcon:hover {
  background-color: rgba(84, 54, 253, 0.527);
  color: white;
}

.projectDisclaimer {
  margin-top: 95px;
  font-size: 0.7vw;
  color: rgba(0, 0, 0, 0.445);
  margin-top: 110px;
}

.resumeIcon {
  display: grid;
  place-items: center;
  border-radius: 50px;
  border: 2px solid rgb(196, 196, 196);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  position: absolute;
  right: 40%;
  top: 70px;
}

.resumeIcon:hover {
  background-color: rgba(84, 54, 253, 0.527);
  color: white;
}

.experience {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.experience ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  margin-top: 5px;
  font-weight: lighter;
  
  width: 95%;
}

.contact {
  position: absolute;
  top: 20%;
}

.portfolioDisclaimer {
  color: rgba(0, 0, 0, 0.349);
  width: 25%;
  font-size: 0.8vw;

  position: absolute;
  left: 25%;
  bottom: 2%;
}

