.App {
  text-align: center;
}

body { /* For the Background, remember height needs to be included for gradient backgrounds */
  background: linear-gradient(to right, rgb(255, 255, 255) 58%, rgba(0, 0, 255, 0.479) 42%), url('/public/geometricBackground.jpg');

  width: 100vw;
  height: 100vh;
}

.geometricBackground {
  background-image: url('/public/geometricBackground.jpg');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;
  opacity: 0.5;

  height: 100vh;
  width: 58%;
}

.greetingName {
  display: flex;
  justify-content: center; 
  align-items: center;      
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
  color:  rgb(0, 0, 0);
  height: 100px;
  width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

  position: absolute;
  top: 330px;
  left: 300px;
}

.aboutMe {
  display: flex;
  justify-content: center; 
  align-items: center;   
  border-radius: 30px;
  color:  rgb(0, 0, 0);
  height: 150px;
  width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  position: absolute;
  top: 420px;
  left: 300px;
}

.myPhoto {
  display: grid;
  place-items: center;
  border-radius: 30px;
  color:  rgb(0, 0, 0);
  height: 400px;
  width: 550px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  background-image: url('/public/coder.png');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;

  position: absolute;
  top: 300px;
  right: 250px;
}

.navigationBar {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 2fr);
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 80px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  position: absolute;
  left: 25%;
  top: 100px;
}

.navigationItem {
  cursor: pointer;
  padding: 20px;
  border-radius: 30px;

  transition: 
  background-color 0.3s ease,  color 0.2s ease;
}

.navigationItem:hover {
  background-color: rgba(84, 54, 253, 0.527);
  color: white;
}

.active {
  cursor: pointer;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(84, 54, 253, 0.527);
  color: white;
}

.contactInfo {
  display: grid;
  place-items: center;
  border-radius: 30px;
  border: 2px solid rgb(196, 196, 196);
  background-color: rgba(255, 255, 255, 0);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  position: absolute;
  left: 610px;
  top: 610px;
}

.contactInfo:hover {
  background-color: rgba(84, 54, 253, 0.527);
}

.logo {
  display: grid;
  place-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 70px;
  width: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  background-image: url('/public/logo.png');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;

  position: absolute;
  left: 300px;
  top: 110px;
}

.linkedIn a {
  display: grid;
  place-items: center;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  background-image: url('/public/LinkedIn\ Logo.jpg');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;
  cursor: pointer;

  position: absolute;
  right: 300px;
  top: 115px;
}

.GitHub a {
  display: grid;
  place-items: center;
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  color:  rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  background-image: url('/public/GitHub\ Logo.png');
  background-position: center;
  background-repeat: no repeat;
  background-size: 100% 100%;
  cursor: pointer;

  position: absolute;
  right: 370px;
  top: 115px;
}


